<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>JA_lesson_071</display-name>
    
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  	<description>
  	</description>
  	<display-name>CabinetFilter</display-name>
  	<filter-name>CabinetFilter</filter-name>
  	<filter-class>ua.lviv.lgs.filter.CabinetFilter</filter-class>
  </filter>
  <filter>
  	<description>
  	</description>
  	<display-name>MagazineFilter</display-name>
  	<filter-name>MagazineFilter</filter-name>
  	<filter-class>ua.lviv.lgs.filter.MagazineFilter</filter-class>
  </filter>
  <filter>
  	<description>
  	</description>
  	<display-name>BucketFilter</display-name>
  	<filter-name>BucketFilter</filter-name>
  	<filter-class>ua.lviv.lgs.filter.BucketFilter</filter-class>
  </filter>
  <filter>
  	<description>
  	</description>
  	<display-name>CreateMagazine</display-name>
  	<filter-name>CreateMagazine</filter-name>
  	<filter-class>ua.lviv.lgs.filter.CreateMagazine</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CabinetFilter</filter-name>
  	<url-pattern>/CabinetFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>MagazineFilter</filter-name>
  	<url-pattern>/MagazineFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>BucketFilter</filter-name>
  	<url-pattern>/BucketFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>CreateMagazine</filter-name>
  	<url-pattern>/CreateMagazine</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>ua.lviv.lgs.servlet.UserLogInServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddPeriodicalServlet</display-name>
  	<servlet-name>AddPeriodicalServlet</servlet-name>
  	<servlet-class>ua.lviv.lgs.servlet.AddPeriodicalServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Periodical</display-name>
  	<servlet-name>Periodical</servlet-name>
  	<servlet-class>ua.lviv.lgs.servlet.Periodical</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>MagazineServlet</display-name>
  	<servlet-name>MagazineServlet</servlet-name>
  	<servlet-class>ua.lviv.lgs.servlet.MagazineServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LogoutServlet</display-name>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>ua.lviv.lgs.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>MagazinesServlet</display-name>
  	<servlet-name>MagazinesServlet</servlet-name>
  	<servlet-class>ua.lviv.lgs.servlet.MagazineServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>BucketServlet</display-name>
  	<servlet-name>BucketServlet</servlet-name>
  	<servlet-class>ua.lviv.lgs.servlet.BucketServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>BucketsController</display-name>
  	<servlet-name>BucketsController</servlet-name>
  	<servlet-class>ua.lviv.lgs.servlet.BucketsController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UserRoleServlet</display-name>
  	<servlet-name>UserRoleServlet</servlet-name>
  	<servlet-class>ua.lviv.lgs.servlet.UserRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPeriodicalServlet</servlet-name>
  	<url-pattern>/AddPeriodicalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Periodical</servlet-name>
  	<url-pattern>/Periodical</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MagazineServlet</servlet-name>
  	<url-pattern>/MagazineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MagazinesServlet</servlet-name>
  	<url-pattern>/MagazinesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BucketServlet</servlet-name>
  	<url-pattern>/BucketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BucketsController</servlet-name>
  	<url-pattern>/BucketsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRoleServlet</servlet-name>
  	<url-pattern>/UserRoleServlet</url-pattern>
  </servlet-mapping>
  
</web-app>