<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>JA_lesson_071</display-name>
    
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>ua.lviv.lgs.servlet.UserLogInServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddPeriodicalServlet</display-name>
  	<servlet-name>AddPeriodicalServlet</servlet-name>
  	<servlet-class>ua.lviv.lgs.servlet.AddPeriodicalServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Periodical</display-name>
  	<servlet-name>Periodical</servlet-name>
  	<servlet-class>ua.lviv.lgs.servlet.Periodical</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>MagazineServlet</display-name>
  	<servlet-name>MagazineServlet</servlet-name>
  	<servlet-class>ua.lviv.lgs.servlet.MagazineServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LogoutServlet</display-name>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>ua.lviv.lgs.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPeriodicalServlet</servlet-name>
  	<url-pattern>/AddPeriodicalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Periodical</servlet-name>
  	<url-pattern>/Periodical</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MagazineServlet</servlet-name>
  	<url-pattern>/MagazineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  
</web-app>